@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-medium.ttf');
}
*{
    font-family: 'Gilroy';
    color: white;
    margin: 0;
}

/*Шапка*/
header{
    background-color: #2c2c54;
    height: 100vh;
    padding: 0 5%;
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration-line: none;
}
.nav{
    display: flex;
    gap: 35px;
}
.icons {
    display: flex;
    gap: 25px;
}
.header_content{
    margin-top: 100px;
}
.header_content p{
    margin-top: 35px;
}
button{
    margin-top: 30px;
    background-color: #686de0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color:  #2c2c54;
    padding: 10px 30px;
}
h1{
    font-size: 50px;
}

/*Содержимое*/
.body_popular{
    background-color: #686de0;
    height: 600px;
    padding: 0 5%;
}
.best_film{
    background-color: #2c2c54;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 200px;
    padding: 150px 100px;
    margin-top: 70px;
    border-radius: 50px;
}
